#main_sidebar {
  background: #020509;
  grid-area: main_sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main_sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
 
}

.main_sidebar__img {
  display: flex;
  align-items: center;
}

.main_sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}

.main_sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}

.main_sidebar__title > i {
  font-size: 18px;
  display: none;
}

.main_sidebar__menu > h2 {
  color: #3ea175;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.main_sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.active_menu_link {
  background: rgba(62, 161, 117, 0.3);
  color: #5636ad;
}

.active_menu_link a {
  color: #3ea175 !important;
}

.main_sidebar__link > a {
  text-decoration: none;
  color: #a5aaad;
  font-weight: 700;
}

.main_sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}

.main_sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}

.main_sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

.main_sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.main_sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #main_sidebar {
    display: none;
  }

  .main_sidebar__title > i {
    display: inline;
  }
}
